In [1]:
import pandas as pd
import numpy as np

In [2]:
basics_url="https://datasets.imdbws.com/title.basics.tsv.gz"
ratings_url="https://datasets.imdbws.com/title.ratings.tsv.gz"
akas_url="https://datasets.imdbws.com/title.akas.tsv.gz"

In [3]:
basic_df = pd.read_csv(basics_url, sep='\t', low_memory=False)

In [4]:
basic_w = basic_df.copy()

In [5]:
ratings_df = pd.read_csv(ratings_url, sep='\t', low_memory=False)

In [6]:
ratings_w = ratings_df.copy()

In [7]:
akas_df = pd.read_csv(akas_url, sep='\t', low_memory=False)

In [8]:
akas_w = akas_df.copy()

In [9]:
basic_w.replace({'\\N':np.nan}, inplace=True)

In [10]:
ratings_w.replace({'\\N':np.nan}, inplace =True)

In [11]:
akas_w.replace({'\\N':np.nan}, inplace = True)

## Data Cleaning for Basic Titles

In [12]:

print(basic_w.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9492813 entries, 0 to 9492812
Data columns (total 9 columns):
 #   Column          Dtype
---  ------          -----
 0   tconst          object
 1   titleType       object
 2   primaryTitle    object
 3   originalTitle   object
 4   isAdult         object
 5   startYear       object
 6   endYear         object
 7   runtimeMinutes  object
 8   genres          object
dtypes: object(9)
memory usage: 651.8+ MB
None

In [24]:
basic_w.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
8,tt0000009,movie,Miss Jerry,Miss Jerry,0,1894,NaN,45,Romance
144,tt0000147,movie,The Corbett-Fitzsimmons Fight,The Corbett-Fitzsimmons Fight,0,1897,NaN,100,"Documentary,News,Sport"
570,tt0000574,movie,The Story of the Kelly Gang,The Story of the Kelly Gang,0,1906,NaN,70,"Action,Adventure,Biography"
587,tt0000591,movie,The Prodigal Son,L'enfant prodigue,0,1907,NaN,90,Drama
672,tt0000679,movie,The Fairylogue and Radio-Plays,The Fairylogue and Radio-Plays,0,1908,NaN,120,"Adventure,Fantasy"

In [14]:
basic_w.dropna(inplace=True, subset=['runtimeMinutes'])

In [15]:
basic_w.dropna(inplace=True, subset=['genres'])

In [22]:
index_names = basic_w[ basic_w['titleType'] != 'movie'].index
basic_w.drop(index_names, inplace=True)

#got this come from https://www.geeksforgeeks.org/how-to-drop-rows-in-dataframe-by-conditions-on-column-values/

In [31]:
basic_w['startYear'].value_counts()

2017    14260
2018    14208
2019    13904
2016    13885
2015    13395
2014    13021
2013    12323
2021    12055
2022    11829
2012    11582
2020    11395
2011    10731
2010    10157
2009     9313
2008     8110
2007     6921
2006     6462
2005     5785
2004     5161
2003     4548
2002     4107
2001     3825
2000     3610
Name: startYear, dtype: int64

In [28]:
basic_w = basic_w[basic_w['startYear'] > '1999']

In [30]:
basic_w = basic_w[basic_w['startYear'] < '2023']

## Cleaning for AKAs

In [34]:
akas_w.head(30)

,titleId,ordering,title,region,language,types,attributes,isOriginalTitle
0,tt0000001,1,Карменсіта,UA,NaN,imdbDisplay,NaN,0
1,tt0000001,2,Carmencita,DE,NaN,NaN,literal title,0
2,tt0000001,3,Carmencita - spanyol tánc,HU,NaN,imdbDisplay,NaN,0
3,tt0000001,4,Καρμενσίτα,GR,NaN,imdbDisplay,NaN,0
4,tt0000001,5,Карменсита,RU,NaN,imdbDisplay,NaN,0
5,tt0000001,6,Carmencita,US,NaN,imdbDisplay,NaN,0
6,tt0000001,7,Carmencita,NaN,NaN,original,NaN,1
7,tt0000001,8,カルメンチータ,JP,ja,imdbDisplay,NaN,0
8,tt0000002,1,Le clown et ses chiens,NaN,NaN,original,NaN,1
9,tt0000002,2,Le clown et ses chiens,FR,NaN,imdbDisplay,NaN,0
10,tt0000002,3,A bohóc és kutyái,HU,NaN,imdbDisplay,NaN,0
11,tt0000002,4,Der Clown und seine Hunde,DE,NaN,NaN,literal title,0
12,tt0000002,5,Clovnul si cainii sai,RO,NaN,imdbDisplay,NaN,0
13,tt0000002,6,Клоун и его собаки,RU,NaN,imdbDisplay,NaN,0
14,tt0000002,7,The Clown and His Dogs,US,NaN,NaN,literal English title,0
15,tt0000002,8,道化師と犬,JP,ja,imdbDisplay,NaN,0
16,tt0000003,1,Sarmanul Pierrot,RO,NaN,imdbDisplay,NaN,0
17,tt0000003,2,Szegény Pierrot,HU,NaN,imdbDisplay,NaN,0
18,tt0000003,3,哀れなピエロ,JP,ja,imdbDisplay,NaN,0
19,tt0000003,4,Бідний П'єро,UA,NaN,imdbDisplay,NaN,0
20,tt0000003,5,Бедный Пьеро,RU,NaN,imdbDisplay,NaN,0
21,tt0000003,6,Pauvre Pierrot,NaN,NaN,original,NaN,1
22,tt0000003,7,Poor Pierrot,GB,NaN,imdbDisplay,NaN,0
23,tt0000003,8,Pauvre Pierrot,FR,NaN,imdbDisplay,NaN,0
24,tt0000003,9,Armer Pierrot,DE,NaN,NaN,literal title,0
25,tt0000004,1,Un bon bock,NaN,NaN,original,NaN,1
26,tt0000004,2,Un bon bock,FR,NaN,imdbDisplay,NaN,0
27,tt0000004,3,Ein gutes Glas Bier,DE,NaN,NaN,literal title,0
28,tt0000004,4,Un ţap de bere,RO,NaN,imdbDisplay,NaN,0
29,tt0000004,5,Полная кружка пива,RU,NaN,imdbDisplay,NaN,0

In [33]:
akas_w.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34406422 entries, 0 to 34406421
Data columns (total 8 columns):
 #   Column           Dtype
---  ------           -----
 0   titleId          object
 1   ordering         int64
 2   title            object
 3   region           object
 4   language         object
 5   types            object
 6   attributes       object
 7   isOriginalTitle  object
dtypes: int64(1), object(7)
memory usage: 2.1+ GB

In [35]:
index_akas_region = akas_w[ akas_w['region'] != 'US'].index
akas_w.drop(index_akas_region, inplace=True)

In [36]:
akas_w.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1401064 entries, 5 to 34406166
Data columns (total 8 columns):
 #   Column           Non-Null Count    Dtype
---  ------           --------------    -----
 0   titleId          1401064 non-null  object
 1   ordering         1401064 non-null  int64
 2   title            1401064 non-null  object
 3   region           1401064 non-null  object
 4   language         3761 non-null     object
 5   types            968701 non-null   object
 6   attributes       45624 non-null    object
 7   isOriginalTitle  1399719 non-null  object
dtypes: int64(1), object(7)
memory usage: 96.2+ MB