# New heading

In [1]:
import pandas as pd
import numpy as np

In [2]:
basics_url="https://datasets.imdbws.com/title.basics.tsv.gz"
ratings_url="https://datasets.imdbws.com/title.ratings.tsv.gz"
akas_url="https://datasets.imdbws.com/title.akas.tsv.gz"

In [3]:
basic_df = pd.read_csv(basics_url, sep='\t', low_memory=False)

In [4]:
basic_w = basic_df.copy()

In [5]:
ratings_df = pd.read_csv(ratings_url, sep='\t', low_memory=False)

In [6]:
ratings_w = ratings_df.copy()

In [7]:
akas_df = pd.read_csv(akas_url, sep='\t', low_memory=False)

In [8]:
akas_w = akas_df.copy()

In [9]:
basic_w.replace({'\\N':np.nan}, inplace=True)

In [10]:
ratings_w.replace({'\\N':np.nan}, inplace =True)

In [11]:
akas_w.replace({'\\N':np.nan}, inplace = True)

## Data Cleaning for Basic Titles

In [12]:

print(basic_w.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9495327 entries, 0 to 9495326
Data columns (total 9 columns):
 #   Column          Dtype
---  ------          -----
 0   tconst          object
 1   titleType       object
 2   primaryTitle    object
 3   originalTitle   object
 4   isAdult         object
 5   startYear       object
 6   endYear         object
 7   runtimeMinutes  object
 8   genres          object
dtypes: object(9)
memory usage: 652.0+ MB
None

In [13]:
basic_w.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0000001,short,Carmencita,Carmencita,0,1894,NaN,1,"Documentary,Short"
1,tt0000002,short,Le clown et ses chiens,Le clown et ses chiens,0,1892,NaN,5,"Animation,Short"
2,tt0000003,short,Pauvre Pierrot,Pauvre Pierrot,0,1892,NaN,4,"Animation,Comedy,Romance"
3,tt0000004,short,Un bon bock,Un bon bock,0,1892,NaN,12,"Animation,Short"
4,tt0000005,short,Blacksmith Scene,Blacksmith Scene,0,1893,NaN,1,"Comedy,Short"

In [14]:
basic_w.dropna(inplace=True, subset=['runtimeMinutes'])

In [15]:
basic_w.dropna(inplace=True, subset=['genres'])

In [16]:
index_names = basic_w[ basic_w['titleType'] != 'movie'].index
basic_w.drop(index_names, inplace=True)

#got this come from https://www.geeksforgeeks.org/how-to-drop-rows-in-dataframe-by-conditions-on-column-values/

In [17]:
basic_w['startYear'].value_counts()

2017    14261
2018    14210
2019    13906
2016    13885
2015    13395
        ...
1899        1
1904        1
1897        1
1896        1
1894        1
Name: startYear, Length: 127, dtype: int64

In [18]:
basic_w = basic_w[basic_w['startYear'] > '1999']

In [19]:
basic_w = basic_w[basic_w['startYear'] < '2023']

In [28]:
# Exclude movies that are included in the documentary category.
is_documentary = basic_w['genres'].str.contains('documentary',case=False)
basic_w = basic_w[~is_documentary]

In [29]:
keepers_b = basic_w['tconst'].isin(akas_w['titleId'])
keepers_b

34803       True
61116       True
67669       True
77964      False
86801       True
           ...
9495000     True
9495009     True
9495048    False
9495093     True
9495177    False
Name: tconst, Length: 145953, dtype: bool

In [32]:
basic_w = basic_w[keepers_b]
basic_w

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
34803,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001,NaN,118,"Comedy,Fantasy,Romance"
61116,tt0062336,movie,The Tango of the Widower and Its Distorting Mi...,El Tango del Viudo y Su Espejo Deformante,0,2020,NaN,70,Drama
67669,tt0069049,movie,The Other Side of the Wind,The Other Side of the Wind,0,2018,NaN,122,Drama
86801,tt0088751,movie,The Naked Monster,The Naked Monster,0,2005,NaN,100,"Comedy,Horror,Sci-Fi"
93938,tt0096056,movie,Crime and Punishment,Crime and Punishment,0,2002,NaN,126,Drama
...,...,...,...,...,...,...,...,...,...
9494464,tt9914942,movie,Life Without Sara Amat,La vida sense la Sara Amat,0,2019,NaN,74,Drama
9494860,tt9915872,movie,The Last White Witch,My Girlfriend is a Wizard,0,2019,NaN,97,"Comedy,Drama,Fantasy"
9495000,tt9916170,movie,The Rehearsal,O Ensaio,0,2019,NaN,51,Drama
9495009,tt9916190,movie,Safeguard,Safeguard,0,2020,NaN,95,"Action,Adventure,Thriller"
9495093,tt9916362,movie,Coven,Akelarre,0,2020,NaN,92,"Drama,History"

## Cleaning for AKAs

In [20]:
akas_w.head(30)

,titleId,ordering,title,region,language,types,attributes,isOriginalTitle
0,tt0000001,1,Карменсіта,UA,NaN,imdbDisplay,NaN,0
1,tt0000001,2,Carmencita,DE,NaN,NaN,literal title,0
2,tt0000001,3,Carmencita - spanyol tánc,HU,NaN,imdbDisplay,NaN,0
3,tt0000001,4,Καρμενσίτα,GR,NaN,imdbDisplay,NaN,0
4,tt0000001,5,Карменсита,RU,NaN,imdbDisplay,NaN,0
5,tt0000001,6,Carmencita,US,NaN,imdbDisplay,NaN,0
6,tt0000001,7,Carmencita,NaN,NaN,original,NaN,1
7,tt0000001,8,カルメンチータ,JP,ja,imdbDisplay,NaN,0
8,tt0000002,1,Le clown et ses chiens,NaN,NaN,original,NaN,1
9,tt0000002,2,Le clown et ses chiens,FR,NaN,imdbDisplay,NaN,0
10,tt0000002,3,A bohóc és kutyái,HU,NaN,imdbDisplay,NaN,0
11,tt0000002,4,Der Clown und seine Hunde,DE,NaN,NaN,literal title,0
12,tt0000002,5,Clovnul si cainii sai,RO,NaN,imdbDisplay,NaN,0
13,tt0000002,6,Клоун и его собаки,RU,NaN,imdbDisplay,NaN,0
14,tt0000002,7,The Clown and His Dogs,US,NaN,NaN,literal English title,0
15,tt0000002,8,道化師と犬,JP,ja,imdbDisplay,NaN,0
16,tt0000003,1,Sarmanul Pierrot,RO,NaN,imdbDisplay,NaN,0
17,tt0000003,2,Szegény Pierrot,HU,NaN,imdbDisplay,NaN,0
18,tt0000003,3,哀れなピエロ,JP,ja,imdbDisplay,NaN,0
19,tt0000003,4,Бідний П'єро,UA,NaN,imdbDisplay,NaN,0
20,tt0000003,5,Бедный Пьеро,RU,NaN,imdbDisplay,NaN,0
21,tt0000003,6,Pauvre Pierrot,NaN,NaN,original,NaN,1
22,tt0000003,7,Poor Pierrot,GB,NaN,imdbDisplay,NaN,0
23,tt0000003,8,Pauvre Pierrot,FR,NaN,imdbDisplay,NaN,0
24,tt0000003,9,Armer Pierrot,DE,NaN,NaN,literal title,0
25,tt0000004,1,Un bon bock,NaN,NaN,original,NaN,1
26,tt0000004,2,Un bon bock,FR,NaN,imdbDisplay,NaN,0
27,tt0000004,3,Ein gutes Glas Bier,DE,NaN,NaN,literal title,0
28,tt0000004,4,Un ţap de bere,RO,NaN,imdbDisplay,NaN,0
29,tt0000004,5,Полная кружка пива,RU,NaN,imdbDisplay,NaN,0

In [21]:
akas_w.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34417869 entries, 0 to 34417868
Data columns (total 8 columns):
 #   Column           Dtype
---  ------           -----
 0   titleId          object
 1   ordering         int64
 2   title            object
 3   region           object
 4   language         object
 5   types            object
 6   attributes       object
 7   isOriginalTitle  object
dtypes: int64(1), object(7)
memory usage: 2.1+ GB

In [22]:
index_akas_region = akas_w[ akas_w['region'] != 'US'].index
akas_w.drop(index_akas_region, inplace=True)

In [23]:
akas_w.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1401285 entries, 5 to 34417613
Data columns (total 8 columns):
 #   Column           Non-Null Count    Dtype
---  ------           --------------    -----
 0   titleId          1401285 non-null  object
 1   ordering         1401285 non-null  int64
 2   title            1401285 non-null  object
 3   region           1401285 non-null  object
 4   language         3762 non-null     object
 5   types            968716 non-null   object
 6   attributes       45628 non-null    object
 7   isOriginalTitle  1399940 non-null  object
dtypes: int64(1), object(7)
memory usage: 96.2+ MB

In [25]:
akas_w.head(10)

,titleId,ordering,title,region,language,types,attributes,isOriginalTitle
5,tt0000001,6,Carmencita,US,NaN,imdbDisplay,NaN,0
14,tt0000002,7,The Clown and His Dogs,US,NaN,NaN,literal English title,0
33,tt0000005,10,Blacksmith Scene,US,NaN,imdbDisplay,NaN,0
36,tt0000005,1,Blacksmithing Scene,US,NaN,alternative,NaN,0
41,tt0000005,6,Blacksmith Scene #1,US,NaN,alternative,NaN,0
42,tt0000005,7,Blacksmithing,US,NaN,NaN,informal alternative title,0
47,tt0000006,3,Chinese Opium Den,US,NaN,imdbDisplay,NaN,0
51,tt0000007,1,Corbett and Courtney Before the Kinetograph,US,NaN,imdbDisplay,NaN,0
55,tt0000007,5,The Corbett-Courtney Fight,US,NaN,alternative,NaN,0
56,tt0000007,6,Jim Corbett vs. Peter Courtney,US,NaN,alternative,NaN,0
64,tt0000008,3,"Edison Kinetoscopic Record of a Sneeze, Januar...",US,NaN,NaN,complete title,0
65,tt0000008,4,Edison Kinetoscopic Record of a Sneeze,US,NaN,imdbDisplay,NaN,0
69,tt0000008,8,The Films of Thomas A Edison presented by Raym...,US,NaN,NaN,reissue title,0
75,tt0000009,5,Miss Jerry,US,NaN,imdbDisplay,NaN,0
82,tt0000010,16,Exiting the Factory,US,NaN,imdbDisplay,NaN,0

## Cleaning for Ratings

In [26]:
ratings_w.head()

      tconst  averageRating  numVotes
0  tt0000001            5.7      1931
1  tt0000002            5.8       261
2  tt0000003            6.5      1752
3  tt0000004            5.6       176
4  tt0000005            6.2      2563

In [27]:
ratings_w.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1262461 entries, 0 to 1262460
Data columns (total 3 columns):
 #   Column         Non-Null Count    Dtype
---  ------         --------------    -----
 0   tconst         1262461 non-null  object
 1   averageRating  1262461 non-null  float64
 2   numVotes       1262461 non-null  int64
dtypes: float64(1), int64(1), object(1)
memory usage: 28.9+ MB

In [33]:
#create a list of all tconst that are present in akas_w.
keepers_r = ratings_w['tconst'].isin(akas_w['titleId'])
keepers_r
#filter ratings_w to only include tconst present in akas_w.
ratings_w = ratings_w[keepers_r]
ratings_w

            tconst  averageRating  numVotes
0        tt0000001            5.7      1931
1        tt0000002            5.8       261
4        tt0000005            6.2      2563
5        tt0000006            5.1       176
6        tt0000007            5.4       805
...            ...            ...       ...
1262435  tt9916200            8.2       220
1262436  tt9916204            8.2       251
1262442  tt9916348            8.5        17
1262443  tt9916362            6.4      5090
1262447  tt9916428            3.8        14

[482846 rows x 3 columns]

## Dowloading to CSV and GZ

In [41]:
basic_w.to_csv("Data/title_basics.csv", index=False)
ratings_w.to_csv("Data/title_ratings.csv.", index=False)
akas_w.to_csv("Data/title_akas.csv.", index=False)

In [37]:
basic_w.to_csv("Data/title_basics.csv.gz", compression='gzip', index=False)
ratings_w.to_csv("Data/title_ratings.csv.gz", compression='gzip', index=False)
akas_w.to_csv("Data/title_akas.csv.gz", compression='gzip', index=False)

## Final .info()

In [38]:
basic_w.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 84365 entries, 34803 to 9495093
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   tconst          84365 non-null  object
 1   titleType       84365 non-null  object
 2   primaryTitle    84365 non-null  object
 3   originalTitle   84365 non-null  object
 4   isAdult         84365 non-null  object
 5   startYear       84365 non-null  object
 6   endYear         0 non-null      object
 7   runtimeMinutes  84365 non-null  object
 8   genres          84365 non-null  object
dtypes: object(9)
memory usage: 6.4+ MB

In [39]:
ratings_w.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 482846 entries, 0 to 1262447
Data columns (total 3 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   tconst         482846 non-null  object
 1   averageRating  482846 non-null  float64
 2   numVotes       482846 non-null  int64
dtypes: float64(1), int64(1), object(1)
memory usage: 14.7+ MB

In [40]:
akas_w.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1401285 entries, 5 to 34417613
Data columns (total 8 columns):
 #   Column           Non-Null Count    Dtype
---  ------           --------------    -----
 0   titleId          1401285 non-null  object
 1   ordering         1401285 non-null  int64
 2   title            1401285 non-null  object
 3   region           1401285 non-null  object
 4   language         3762 non-null     object
 5   types            968716 non-null   object
 6   attributes       45628 non-null    object
 7   isOriginalTitle  1399940 non-null  object
dtypes: int64(1), object(7)
memory usage: 96.2+ MB